
#chat-container {
    position: fixed;
    width: 100%;
    height: 100%;

    background-color: #ebebeb;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

}
/*头部开始*/
#chat-header {
    width: 100%;
    height: 30px;
    background-color: #303030;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
#chat-header div:nth-child(1) {
    margin-left: 3%;
}
#chat-header div:nth-last-child(1) {
    margin-right: 5%;
}
#chat-header-left {
    display: flex;
    align-items: center;

    font-family: 黑体;
    font-size: 14px;
}
#chat-header-left img {
    width: 20px;
    height: 20px;
    margin: 0 5px 0 0;
}
#chat-header-left span {
    color: #ffffff;
}
#chat-header-right {
    display: flex;
    align-items: center;
}
.dott4 {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 0 2px;
}
/*头部结束*/

/*聊天区开始*/
#chat-list {
    flex: 1;
    width: 100%;

    display: flex;
    flex-flow: column;
    align-items: center;
}
.time {
    width: 80px;
    height: 20px;
    background: #d3d3d3;
    border-radius: 3px;

    margin: 10px 0;
}
.chat-item {
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.chat-pic {
    width: 30px;
    height: 30px;
}


/*聊天区结束*/
/*底部开始*/
#chat-bottom {
    width: 100%;
    height:40px;
    background-color: #f3f3f3;

    display: flex;
    justify-content: space-around;
    align-items: center;

}
#chat-bottom div:nth-child(1) {
    margin-left: 3%;
}
#chat-bottom div:nth-last-child(1) {
     margin-right: 3%;
 }
 #input {
    flex: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
#audio {
    width: 24px;
    height: 24px;
    background: url("../img/audio.svg") no-repeat center;
    background-size: cover;
}
#text {
    flex: 1;

    height: 24px;

    border-bottom: 1px solid #d9d9d9;

    margin: 0 4%;
}
#input-text {
    height: 20px;

    display: flex;
    align-self: center;
}
#smile {
    width: 24px;
    height: 24px;

    background: url("../img/smile.svg") no-repeat center;
    background-size: cover;
}
#more {
    width: 24px;
    height: 24px;

    background: url("../img/more.svg") no-repeat center;
    background-size: cover;
}



/*底部结束*/