
#menu {
    width: 100%;
    background-color: #eeeeee;

    display: flex;

    flex-flow: row;
    justify-content: center;
    align-items: center;

    border-top: 1px solid #cccccc;

}
#menu > div {
    margin: 4px 0;
}
#menu > .menu-item {
    flex: 1;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}
#menu .div{
    width: 20px;
    height: 20px;

    position: relative;

}
#menu .div > img {
    width: 100%;
    height: 100%;
}
.menu-name {
    font-family: 黑体;
    font-size: 10px;
}
.dott3 {
    width: 12px;
    height: 12px;
    background-color: #ff3e3e;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
    color: whitesmoke;
    font-size: 10px;
}