
#signal{
    width: 100%;
    height: 30px;
    background-color: #303030;

    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 100;
    font-size: 12px;
}
#signal_left{
    flex: 1;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}
#signal-left div{
    margin-left: 4px;
}
#signal_center{
    width: 50px;
    height: 32px;
    font-size: 12px;
}
#signal_right{
    flex: 1;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}
#signal_right div{
    /*margin-right: 4px;*/
}
/*signal:开始*/
#signal-area{
    /*height: 14px;*/
    width: 35px;

    display: flex;
    align-items: flex-end;
}
#signal-area div{
    width: 3px;
    /*background-color: white;*/
    margin-left: 3px;
    border-radius: 1px;
}
#signal-area div:nth-child(1){
    height: 3px;
}
#signal-area div:nth-child(2){
    height: 6px;
}
#signal-area div:nth-child(3){
    height: 9px;
}
#signal-area div:nth-child(4){
    height: 12px;
}
.signal-ok{
    background-color: white;
}
.signal-lose{
    background-color: gray;
}

#operation ,#xg{
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*signal结束*/

/*电池开始*/
#battery {
    width: 28px;
    height: 14px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

}

#battery-body {
    height: 10px;
    width: 24px;
    border: 1px solid gray;
    border-radius: 1px;
}
#battery-header {
    width: 2px;
    height: 4px;
    background-color: white;
    border-radius: 0 1px 1px 0;
}
#battery-core{
    height: 8px;
    width: 22px;
    margin: 1px;
    background-color: #1efc79;
}
/*电池结束*/
@keyframes charge {
    0%{
        width: 1px;
        background-color: crimson;
    }
    20%{
        width: 4px;
        background-color: yellow;
    }
    80%{
        width: 17px;
        background-color: #1efc79;
    }
    100%{
        width: 22px;
        background-color: #1efc79;
    }
}
.charging{
    animation: charge 180s linear infinite;
}